{% extends "/admin/manageBooks_base.html"%}
{% block title %}Manage Users | Add User{% endblock %}
{% block name %}Add User{% endblock %}
{% block redirect %}<a href="/manageUsers"><button class="btn">Back</button></a>{% endblock %}
{% block content %}
	<form method="POST" autocomplete="off" class="add_user_page">
	    <div class="add_user"> 
	    	    <div class="user_info">
		            <h3>User Information</h3>
		        </div>

		        <div class="add_user_form">
		    	    <label for="fname">First Name*</label>
		    	    <input type="text" name="fname" id="fname" placeholder="Enter First Name Of The User" autofocus required>

		    	    <label for="sname">Last Name*</label>
		    	    <input type="text" name="sname" id="sname" placeholder="Enter Second Name Of The User" autofocus required>
			         
		            <label for="email">Email Address*</label>
		  	        <input type="email" name="email" id="email" placeholder="example@rafikiwamaendeleo.org" autofocus required>

					<label for="phone">Phone Number:</label><br>
			        <input type="tel" id="phone" name="phone" value="+254" maxlength="13"><br><br>

			        <label for="address">Address:</label><br>
			        <textarea class="address" id="address" name="address" rows="3"></textarea><br><br>

			        <label for="membership_type">Membership Type:</label><br>
			        <select class="membership" id="membership_type" name="membership_type">
			            <option value="student">Student</option>
			            <option value="staff">Staff</option>
			            <option value="community">Community Member</option>
			        </select><br><br>

			        <div class="form__input-group">
			            <label for="password"><b>Password*</b></label>
			            <div class="passwordToggle">
			                <input type="password" placeholder="Enter Password" name="password" id="password" class="form__input" autofocus required>
			                <span class="icon">
			                    <i class="fas fa-eye-slash"></i>
			                </span>
			            </div>
			        </div>

			        <div class="form__input-group">
			            <label for="password1"><b>Confirm Password*</b></label>
			            <div class="passwordToggle">
			                <input type="password" placeholder="Enter Password" name="password1" id="password" class="form__input" autofocus required>
			                <span class="icon" id="togglePassword">
			                    <i class="fas fa-eye-slash"></i>
			                </span>
			                
			            </div>
			        </div>

			        <div class="check">
			            <label>
			                <input type="checkbox" name="" required>
			                <span>I agree to the terms and conditions of RTRC Library</span>
			            </label>
			        </div>

		        </div>
		        <div class="action_btns">
			          <a href="/manageBooks/addBook"><button type="submit" class="save">Send link</button></a>
		        </div>
	    </div>
	</form>
 {% endblock %}