{% extends "/user/base.html" %}
{% block title %}Borrowed Books{% endblock %}
{% block content %}

<section class="borrowed-books">
    <div class="setting-support-container">
        <div class="support-container-content">
            <div class="notification">
                <span><i class="fas fa-bell"></i></span>
            </div>
            <div class="user_details">
                <div class="dropdown">
                    <button class="dropbtn" style="padding-right: 0.3rem;"><i class="fas fa-cog"></i></button>
                    <div class="dropdown-content">
                        <div class="dropdown-content">
                            <a href="#"><i class="fas fa-cog"></i> Settings</a>
                            <a href="/support"><i class="fas fa-question-circle"></i> Support</a>
                        </div>
                    </div>
                </div>
                <div class="user_image">
                    <i class="fas fa-user"></i>
                </div>
                <div class="user">
                    {{user.name}}
                </div>
                <div class="fas fa-bars" id="user-menu-btn" style="margin-left: 2rem;"></div>
            </div>
        </div>
    </div>
    <p style="margin-top: 1rem;">Below is your borrowing history.</p>
    <div class="borrowed-books-list">

        <div class="borrowed-books-table">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Book Title</th>
                        <th>Book Number</th>
                        <th>Date Requsted</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody id="borrowed-book-data">
                    {% if bookHistory %}
                        {% for book in bookHistory %}
                            <tr>
                                <td></td>
                                <td>{{book.books.title}}</td>
                                <td>{{book.books.ISBN}}</td>
                                <td>{{book.request_date}}</td>
                                <td>{{book.status}}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6">No books to show</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

    </div>
</section>
{% endblock %}